body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}

.container a {
    color:black
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #55828b;
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
}


nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.hero {
    text-align: center;
    padding: 40px 10px;
    border-bottom: 2px solid black;
}
.hero h1 {
    font-size: 28px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.hero p {
    color: gray;
    font-size: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 0;
    border-bottom: 2px solid black;
}
.box {
    border-right: 2px solid black;
    padding: 15px;
    min-height: 300px;
}
.box:last-child {
    border-right: none;
}
.box h3 {
    margin-top: 0;
}
.projects li {
    background: #8B8C89;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.278);
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
.reviews {
    padding: 15px;
}
.reviews h3 {
    text-align: left;
}
.review-boxes {
    display: flex;
    justify-content: space-between;
}
.review {
    width: 30%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.278);
    background: #9CAEA9;
}
footer {
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid black;
    background-color: #6F6866;
}

.container a:hover{
    text-decoration: underline;
    color: #414535;
}


.projects a{
    background-color: #618985;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none; 
}

.projects a:hover{
    text-decoration: underline;
    color: #414535;
}

.projects a{
    padding: 20px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


}